<template>
  <q-page class="constain q-pa-md">
    <div class="row q-col-gutter-lg">
      <div class="col-12 col-md-8">
        <template>
          <div v-if="!loadingPosts && posts.length">
            <q-card
              v-for="post in posts"
              :key="post.id"
              class="card-post q-mb-md"
              flat
              bordered>
              <q-item>
                <q-item-section avatar>
                  <q-avatar>
                    <img src="https://s.gravatar.com/avatar/cb3b6e7f9daeb1ef96502a9540a1a689?s=80">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label class="text-bold">Lucas guzmán</q-item-label>
                  <q-item-label caption>
                    {{ post.location }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-img
                :src="post.imageUrl"
              />
              <q-card-section>
                <div>{{ post.caption }}</div>
                <div class="text-caption text-grey">{{ post.date | niceDate }}</div>
              </q-card-section>
            </q-card>
          </div>
          <div v-else-if="!loadingPosts && !posts.length">
            <h5 class="text-center text-grey">No hay nada aún</h5>
          </div>
          <div v-else>
            <q-card flat bordered>
              <q-item>
                <q-item-section avatar>
                  <q-skeleton type="QAvatar" animation="fade" size="40px" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>
                    <q-skeleton type="text" animation="fade" />
                  </q-item-label>
                  <q-item-label caption>
                    <q-skeleton type="text" animation="fade" />
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-skeleton height="200px" square animation="fade" />

              <q-card-section>
                <q-skeleton type="text" class="text-subtitle2" animation="fade" />
                <q-skeleton type="text" width="50%" class="text-subtitle2" animation="fade" />
              </q-card-section>
            </q-card>
          </div>
        </template>
      </div>
      <div class="col-4 large-screen-only">
        <q-item class="fixed">
            <q-item-section avatar>
              <q-avatar size="48px">
                <img src="https://s.gravatar.com/avatar/cb3b6e7f9daeb1ef96502a9540a1a689?s=80">
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-bold">Lucas guzmán</q-item-label>
              <q-item-label caption>
                Lucas
              </q-item-label>
            </q-item-section>
          </q-item>
      </div>
    </div>
  </q-page>
</template>

<script>
import { date } from 'quasar';

export default {
  name: 'PageHome',
  data() {
    return {
      posts: [],
      loadingPosts: false,
    };
  },
  methods: {
    getPosts() {
      this.loadingPosts = true;
      this.$axios.get('http://localhost:3000/posts').then((response) => {
        this.posts = response.data;
        this.loadingPosts = false;
      }).catch(() => {
        this.$q.dialog({
          title: 'Error',
          message: 'No pudimos obtener los posts',
        });
        this.loadingPosts = false;
      });
    },
  },
  filters: {
    niceDate(value) {
      return date.formatDate(value, 'MMMM D h:mmA');
    },
  },
  created() {
    this.getPosts();
  },
};
</script>
<style lang="sass">
  .card-post
    .q-img
      min-height: 200px
</style>
